<p-card header="Marcos José Rivera Souto" subheader="Frontend">
  <ng-template pTemplate="header">
    <img 
      class="img-header"
      alt="code" 
      src="https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" 
      />
  </ng-template>
  <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, odio. Voluptas beatae temporibus, culpa sit cumque recusandae voluptatibus iure ex harum asperiores et saepe molestiae accusantium eius dicta quae nostrum.
      Harum asperiores ratione perferendis illo exercitationem omnis, totam itaque mollitia, non quis repellendus veritatis eveniet aut ut eos nihil doloribus repellat, consequatur tenetur provident quas dolore. Cupiditate doloremque laborum consequatur.
      Ipsam quam cupiditate, inventore eligendi aliquid quia eaque ullam laboriosam sapiente tempore vel architecto excepturi earum vero unde sequi qui doloribus corrupti eveniet alias non! Quod ratione ducimus sunt eum.
      Provident magni veritatis culpa eum voluptas hic aperiam incidunt, quam minus non quasi temporibus, maxime ipsum fugiat reiciendis architecto ab recusandae eaque, earum et. Suscipit velit culpa expedita eius consequatur?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, odio. Voluptas beatae temporibus, culpa sit cumque recusandae voluptatibus iure ex harum asperiores et saepe molestiae accusantium eius dicta quae nostrum.
      Harum asperiores ratione perferendis illo exercitationem omnis, totam itaque mollitia, non quis repellendus veritatis eveniet aut ut eos nihil doloribus repellat, consequatur tenetur provident quas dolore. Cupiditate doloremque laborum consequatur.
      Ipsam quam cupiditate, inventore eligendi aliquid quia eaque ullam laboriosam sapiente tempore vel architecto excepturi earum vero unde sequi qui doloribus corrupti eveniet alias non! Quod ratione ducimus sunt eum.
      Provident magni veritatis culpa eum voluptas hic aperiam incidunt, quam minus non quasi temporibus, maxime ipsum fugiat reiciendis architecto ab recusandae eaque, earum et. Suscipit velit culpa expedita eius consequatur?</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, odio. Voluptas beatae temporibus, culpa sit cumque recusandae voluptatibus iure ex harum asperiores et saepe molestiae accusantium eius dicta quae nostrum.
      Harum asperiores ratione perferendis illo exercitationem omnis, totam itaque mollitia, non quis repellendus veritatis eveniet aut ut eos nihil doloribus repellat, consequatur tenetur provident quas dolore. Cupiditate doloremque laborum consequatur.
      Ipsam quam cupiditate, inventore eligendi aliquid quia eaque ullam laboriosam sapiente tempore vel architecto excepturi earum vero unde sequi qui doloribus corrupti eveniet alias non! Quod ratione ducimus sunt eum.
      Provident magni veritatis culpa eum voluptas hic aperiam incidunt, quam minus non quasi temporibus, maxime ipsum fugiat reiciendis architecto ab recusandae eaque, earum et. Suscipit velit culpa expedita eius consequatur?</p>

  </div>
  <ng-template pTemplate="footer">
    
  </ng-template>
</p-card>